.dndflow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-direction: row;
}


.reactflow-wrapper {
  z-index: 100;
}

.blocks {
  width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
}

